.ofertas-diarias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 2rem 3rem;
    h3 {
        margin-bottom: 4rem;
    }
    &__ofertas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__oferta {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            margin-bottom: 3rem;
        }
        p {
            margin: 1rem 10%;
            text-align: center;
        }
        &:nth-last-of-type(2) p{
            order: 2;
        }
    }
}

.oferta-diaria-extra {
    display: none;
}

@media only screen and (min-width: 600px) {
    
    .ofertas-diarias {
        flex-direction: row;
        justify-content: center;
        p {
            margin-right: 2.5%;
        }
        &__ofertas {
            margin-left: 2.5%;
            &:nth-last-of-type(2) i{
                order: 2;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    .ofertas-diarias {
        flex-direction: column;
        &__ofertas {
            flex-direction: row;
        }
        &__oferta {
            display: flex;
            flex-direction: column;
            p {
                order: 2;
            }
            &:nth-of-type(2) i {
                order: 1;
            }
        }
    }
}

.ofertas-semanales {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 2rem 3rem;
    h3 {
        margin-bottom: 4rem;
    }
    &__ofertas {
        display: flex;
        flex-direction: column;
    }
    &__oferta {
        display: flex;
        align-items: center;
        justify-content: space-around;
        i {
            margin-bottom: 3rem;
        }
        p {
            text-align: center;
            width: 70%;
        }
    }
}

.oferta-semanal-extra {
    display: none;
}

@media only screen and (min-width: 600px) {
    
    .ofertas-semanales {
        flex-direction: row;
        justify-content: center;
        p {
            order: 3;
            margin-right: 2.5%;
        }
        &__ofertas {
            margin-left: 2.5%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    
    .ofertas-semanales {
        flex-direction: column;
        &__ofertas {
            order: 3;
            flex-direction: row;
        }
        &__oferta {
            display: flex;
            flex-direction: column;
            p {
                order: 2;
            }
        }
    }
}

.ofertas-locales {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 2rem 3rem;
    h3 {
        margin-bottom: 4rem;
        text-align: center;
    }
    &__ofertas {
        display: flex;
        flex-direction: column;
    }
    &__oferta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem 3rem;
    }
    i {
        margin-bottom: 3rem;
        width: 50%;
    }
    p {
        text-align: center;

    }
}

.oferta-local-extra {
    display: none;
}


@media only screen and (min-width: 600px) {
    .ofertas-locales__ofertas {
        flex-direction: row;
        margin: 0 2.5%;
    }
}

@media only screen and (min-width: 900px) {
    .oferta-local-extra {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 720px) {
    .ofertas-diarias {
        margin-bottom: 7rem;
    }

    .ofertas-semanales {
        margin-bottom: 7rem;
    }

    .ofertas-locales {
        margin-bottom: 7rem;
    }
}

@media only screen and (min-width: 1024px) {
 
    .ofertas-locales > p, .ofertas-semanales > p, .ofertas-diarias > p {
        text-decoration: underline;
        margin-bottom: 4rem;
    } 
}

main i {
    margin: 1rem;
    transform: scale(2);
}

.ofertas-locales__oferta i {
    width: fit-content;
}