// Estilo comun para contenedores de las categorias en la pagina 'tienda'
%caja-de-categorias {
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}