// Mapa de colores para iterar en los titulos de las secciones del pagina principal
$bg-titulos: (
    tienda: tomato,
    ofertas: rgba(152, 77, 182, 0.781),
    cupones: rgba(0, 128, 0, 0.815),
    redes: rgba(0, 116, 145, 0.815),
    atencion: rgba(77, 63, 206, 0.685),
    registro: rgba(255, 107, 230, 0.877) );
//variable para las imagenes de las categorias 
$numeros : (1, 2, 3, 4, 5, 6);