// COLORES
$bg-rojo-fuerte: #D80032;
$bg-rojo: #EF233C;
$bg-cremita: #EDF2F4;
$bg-gris-azulado: #8D99AE;
$bg-azul-oscuro: #2B2D42;
// FUENTES
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Shrikhand&display=swap');
// familias
$font__texto: 'Mulish', sans-serif;
$font__titulo: 'Shrikhand', cursive;
// tamaño
$font__t-base: 10px;
$font__t-min: 1.6rem;
$font__t-min-med: 1.8rem;
$font__t-med: 2.2rem;
$font__t-med-max: 2.4rem;
$font__t-max: 2.8rem;